/*
* 可読性向上のためcssは以下のようなルールを設ける。
*
* 命名規則：ケバブケース
* 属性の書き込み順：
*   画面サイズ width > height
*   padding
*   border
*   margin
*   position関連
*   display/整列関連
*   transform関連
*   色情報関連
*   フォント関連
*   アニメーション関連
*  【注意】これらのいずれにも属さないものは適宜判断すること。
*/

@charset "UTF-8";
main {
  width: 100%;
  display: inline-block;
  align-content: space-around;
}
.paragraph-title {
  font-size: calc((0.8vw + 6px) * 1.2);
}
.paragraph-content {
  font-size: calc((0.8vw + 6px) * 0.8);
}
section {
  margin: 0 20vw;
}
#download-image {
  display: block;
  align-items: center;
}
.big-height {
  width: auto;
  height: 100%;
}
.big-width {
  width: 100%;
  height: auto;
}
.explain-content-wrapper {
  width: 60vw;
  margin-top: 2.5em;
  display: inline-block;
  align-content: space-around;
}
#explain-content-first {
  margin-top: 0;
}
.explain-content{
  margin-top: 2em;
  display: flex;
  gap: 10%;
}
.explain-content > div {
  width: 45%;
  height: 0;
  padding-top: 45%;
  position: relative;
  overflow: hidden;
}
.explain-content > div > img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.explain-content > div > div {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.explain-content > div > h3 {
  text-align: justify;
}
.explain-content-sentence {
  display: inline;
  align-content: center;
  overflow: auto;
}
@media (max-width: 550px) {
  .explain-content {
    width: 100%;
    display: block;
    justify-items: center;
  }
  .explain-content > div {
    width: 80%;
    padding-top: 80%;
  }
  .paragraph-content {
    font-size: calc((0.8vw + 6px));
  }
  .explain-content > div:nth-of-type(2) {
    padding-top: 60%;
  }
}
#download-content {
  margin-top: 3em;
}
#download-button {
  padding: 1em 2em;
  border-radius: 1em;
  color: #fff;  
  background-image: linear-gradient(60deg, #222, #444);
  box-shadow: 2px 2px 4px gray;
}
#download-button:hover {
  box-shadow: 0px 0px 1px gray;
}
@media (prefers-color-scheme: dark) {
  #download-button {
    color: #000;  
    background-image: linear-gradient(60deg, #ddd, #bbb);
  }
}
/*footer*/
footer {
  width: 100%;
  height: 12vh;
  bottom: auto;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  flex-wrap: nowrap;
  align-content: center;
  background-color: #fff;
  box-shadow: 0 0 7px gray;
}