@charset "UTF-8";
html {/*初期値の定義*/
  height: 100%;
  width: 100%;
}
body {
  display: inline-block;
  background-color: #fff;
  margin: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  align-content: center;
}