@charset "UTF-8";
html {/*初期値の定義*/
  height: 100%;
  width: 100%;
}
body {
  background-color: #fff;
  margin: 0px;
  height: 100%;
  width: 100%;
  position: relative;
}
header {
  background-color: #aaa;
  width: 100%;
  height: auto;
}
.separete-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header-content {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  align-items: center;
}
.ex-site-link {
  width: auto;
  height: 100%;
  margin-right: 10px;
  text-align: right;
}
.title {
  width: auto;
  height: 100%;
}
svg {
  width: auto;
  height: auto;
  transform: scale(0.5);
  padding-top: 2%;
}
g {
    fill: #FFF;
}