@charset "UTF-8";
html {/*初期値の定義*/
  height: 100%;
  width: 100%;
}
body {
  background-color: #fff;
  margin: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header {
  background-color: #fff;
  box-shadow: 0 0 7px gray;
  width: 100%;
  height: 15vh;
  margin-bottom: 20px;
}
.separete-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.header-content {
  height: auto;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.ex-site-link {
  margin-right: calc(10vw * 0.5 + 20px);
  text-align: right;
}
#empty-header-content {
  height: 100%;
}
.src-icon {
  width: 150px;
  height: 88px;
  margin-left: calc(10vw * 0.5 + 20px);
  padding-top: 11%;
}
g {
    fill: #000;
}
footer {
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  box-shadow: 0 0 7px gray;
  width: 100%;
  height: 12vh;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.footer-content {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#cpyright {
  margin-top: 15px;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.sns-links {
  display: flex;
  justify-content: center;
}
.sns-icon {
  width: 25px;
  height: 25px;
}
#mid-icon {
  width: 28px;
  height: 28px;
  margin: 0 4vw;
}
main {
  width: 100%;
  height: calc(73vh - 40px);
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
#description {
  width: calc(100% - 20vw);
  height: 15vh;
  margin: 0 10vw;
  display: inline;
  align-content: center;
}
#char-images {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
}
.char-image {
  width: calc(100% / 8);
  height: 100%;
  background-image: linear-gradient(60deg, #222, #444);
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
  overflow: hidden;
}
.char-name {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: -10px;
  writing-mode: vertical-rl;
  z-index: 10;
}
.char-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(3px 3px 3px #000);
  position: absolute;
}
#Scout > img {
  object-position: 50% 50%;
}
#Nere > img {
  object-position: 50% 50%;
}
#Fuko > img {
  object-position: 60% 50%;
}
#Wakatsuki > img {
  object-position: 50% 50%;
}
#Tsukuri > img {
  object-position: 43% 50%;
}
#Serif > img {
  object-position: 50% 50%;
}
#Isago > img {
  object-position: 50% 50%;
}
#Memori > img {
  object-position: 30% 50%;
}
a {
  color: #000;
  text-decoration: none
}
a:hover {
  color: #555;
}
@keyframes slideAnime1 {
  0% {
    transform: translateY(-100%);
  }
  10% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes slideAnime2 {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(100%);
  }
  90% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(200%);
  }
}
#Scout > img:nth-of-type(1){
	animation: slideAnime1 10s -3s linear infinite;
}
#Scout > img:nth-of-type(2) {
	animation: slideAnime2 6s linear infinite;
}